<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Megrim&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://em-content.zobj.net/source/apple/391/ear-of-corn_1f33d.png"
    />
    <link rel="stylesheet" href="overviewStyle.css" />
    <title>NODE FARM</title>
  </head>
  <body>
    <div class="container">
      <h1>🌽 Node Farm 🥦</h1>

      <div class="card-container">
        <figure class="card">
          <div class="card__emoji">🥑🥑</div>

          <div class="card__title-box">
            <h2 class="card__title">Fresh Avocado</h2>
          </div>

          <div class="card__details">
            <div class="card__details-box">
              <h6 class="card__detail card__detail--organic">Organic!</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail">4 🥑 per 📦</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail card__detail--price">6.50$</h6>
            </div>
          </div>

          <a href="#" class="card__link">
            <span>Detail <i class="emoji-right">👉🏽</i></span>
          </a>
        </figure>
      </div>
    </div>
  </body>
</html>
